target/
logs/
project/project/
project/target/
tmp/
.cache
/bin
/.target
/RUNNING_PID
.history

# intellij IDEA project files
.idea/
.idea_modules/

# Eclipse project files
.classpath
.externalToolBuilders
.project
.settings/

# Windows stuff
Thumbs.db

# Mac Stuff
*.DS_Store
run.sh
.gradle
gradle/
gradlew
gradlew.bat

